<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>

  <% include partials/_header %>


    <% if (username !== undefined) { %>
    
      <table>
        <tr>

          <td>
            <form method="GET" action="/urls/new"> 
              <input type="submit" value="Add URL" style="height: 30px">
            </form>
          </td>

            <td>
              <form method="POST" action="/logout" >
                <input type="submit" value="Log Out" style="height: 30px">
              </form>
          </td>

        </tr>
      </table>

  <%  for(var url in urls) { %>

  <ul>
    <strong><%= urls[url].longURL %> - <a href="localhost:8080/u/<%= url %>">localhost:8080/u/<%= url %></a></strong>

    <table>
      <td>
        <form method="POST" action="urls/<%= url %>/delete">
        <input type="submit" value="DELETE">
        </form>
      </td>

      <td>
        <form method="GET" action="url/<%= url %>">
        <input type="submit" value="EDIT">
        </form>
      </td>
    </table>

  </ul>

  <%  } %>

  <% } else { %>

  <td>
    <form method="GET" action="/signup" >
      <input type="submit" value="Sign Up Now >" style="height: 30px">
    </form>
  </td>


  <h2>Login</h2>
    <form method="POST" action="/login"">
      <p>
        <label for="email-field">Email:</label>
        <input id="email-field" name="email">
      </p>
      <p>
        <label for="password-field">Password:</label>
        <input id="password-field" name="password" type="password">
      </p>
      <p>
        <input type="submit" value="login">
      </p>
    </form>

  <% } %>

</body>
</html>